/base.cpython-36.pyc
/classificadores.cpython-36.pyc
/eigenfaces.cpython-36.pyc
/execucoes.cpython-36.pyc
/imagemparabase.cpython-36.pyc
/pca.cpython-36.pyc
/exception.cpython-36.pyc
/executarremoto.cpython-36.pyc
